@model IEnumerable<FiscoSystem.Models.NcmModels.NcmModel>

@{
    ViewData["Title"] = "ListNcm";
}

<h1>ListNcm</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoNcm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoNcm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnNcm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Versao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoNcm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoNcm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnNcm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Versao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NcmId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NcmId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NcmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
