@model ReflectionIT.Mvc.Paging.PagingList<FiscoSystem.Models.CfopModels.CfopModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de CFOPs</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filter"]"/>
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar
    </button>
</form>

Total de CFOPs : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model.NumberOfPagesToShow"></vc:pager>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Codigo CFOP
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cfop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Codigo" type="button" class="btn btn-info">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
